    <div id='inner_content'>
  <!-- <div id='ins'>Юридическая компания АЛЬБА ГРУПП. Карта-схема проезда</div> -->
  <div id='innss'>  

      <p><strong> Юридическая компания АЛЬБА ГРУПП</strong> в своём московском офисе объединяет практикующих юристов, осуществляющих свою профессиональную деятельность в г. Москве, Московской, Тверской, Белгородской и иных областях Центрального федерального округа Российской Федерации.</p>
      <p> Юристы Московского офиса выполняют весь спектр услуг, относящихся к практике АЛЬБА ГРУПП: </p>

      <ul class='inner_menu'>
        <%= render :partial=>'alba/menu_practice_rus' %>
      </ul>
      
      <p><strong> Юридическая компания АЛЬБА ГРУПП</strong> на постоянной основе сотрудничает с  адвокатами, осуществляющими свою деятельность в городе Москве и иных регионах Центрального федерального округа, а также со специалистами, обеспечивающими сопровождение иных аспектов деятельности компаний:</p>
      <ul>
        <li>налоговые консультанты;</li>
        <li>независимые оценщики;</li>
        <li>аудиторы;</li>
        <li>бухгалтеры.</li>
      </ul>
  
      <p>При возникновении необходимости в наличии узкоспециальных знаний, юридическая компания АЛЬБА ГРУПП активно привлекает в качестве юридических консультантов представителей крупнейших московских юридических компаний и адвокатских бюро. </p>

      <p>Высокое качество исполнения услуг клиентов обеспечивается как высоким уровнем квалификации юристов АЛЬБА ГРУПП, так и наличием устойчивых профессиональных связей непосредственно в городе Москве и областях Центрального федерального округа РФ.</p>

      <a href='#' id="hide_content">Юристы офиса</a>
   </div>
            <div id='show_list'>
              <%= render :partial=>'alba_lawyers/office_ru', :locals => {:office_id => "1"} %>
            </div>


    </div>

  </div>