    <div id='inner_content'>
         <!-- <div id='ins'>Карта-схема проезда</div> -->
    <div id='innss'>
    <p><strong>Юридическая компания АЛЬБА ГРУПП</strong> в Сибирском региональном офисе собрала юристов, осуществляющих свою профессиональную деятельность в Сибирском регионе.</p>

    <p>Наши юристы практикуют в Алтайском и Красноярском крае, Новосибирской, Томской, Кемеровской областях, республике Хакассия и иных регионах Сибирского федерального округа РФ.</p>

    <p>Специалисты Сибирского регионального офиса имеют опыт сопровождения крупных инвестиционных проектов, связанных со строительством промышленных объектов, а также с разработкой полезных ископаемых в различных регионах Сибирского федерального округа РФ.</p>

    <p>Юристы Сибирского регионального офиса выполняют весь спектр услуг, относящихся к практике АЛЬБА ГРУПП :</p>

      <ul class='inner_menu'>
        <%= render :partial=>'alba/menu_practice_rus' %>
      </ul>

    <p>Кроме того, юристы Сибирского регионального офиса выполняют следующие услуги, актуальные для Сибирского региона:</p>
    
    <ul>
      <li><b>Поиск действующих горнорудных предприятий в целях приобретения</b></li>
          <ul>
            <li>Комплексный поиск действующих горнорудных предприятий по параметрам, установленным клиентами.</li>
            <li>Правовая экспертиза (due diligence) горнорудных предприятий.</li>
            <li>Комплексное сопровождение сделок по продажи/приобретению горнорудных предприятий.</li>
            <li>Представление интересов  клиентов в государственных органах и учреждениях по вопросам, связанным с продажей/приобретением горнорудных предприятий.</li>
            <li>Защита интересов клиентов при возникновении спорных ситуаций с контрагентами / государственными / муниципальными органами.</li>
            <li>Представление интересов клиентов в государственных органах и судебных органах.</li>
          </ul>
        <br />
        <li><b>Поиск месторождений полезных ископаемых в целях получения лицензии на недропользование</b></li>
          <ul>
            <li>Комплексный поиск месторождений полезных ископаемых в целях получения лицензии на недропользование.</li>
            <li>Комплексное сопровождение клиентов при формировании пакета документации для аукциона/конкурса на предоставление права недропользования.</li>
            <li>Правовое сопровождение при получении согласований / разрешений / экспертиз при подготовке пакета документации для аукциона/ конкурса.</li>
            <li>Поиск контрагентов, необходимых для формирования пакета документации.</li>
            <li>Урегулирование земельных вопросов.</li>
            <li>Представление интересов клиентов в государственных органов и судебных органах.</li>
          </ul>
        </ul>

     <p>Юридическая компания АЛЬБА ГРУПП на постоянной основе сотрудничает с известными адвокатами, специализирующимися на представлении интересов клиентов  в правоохранительных органах и судах Сибирского региона.</p>
    <p> Устойчивыми партнерами АЛЬБА ГРУПП являются организации, специализирующиеся на сопровождении различных аспектов коммерческой деятельности компаний в Сибирском регионе:</p>

    <ul>
      <li> налоговое консультирование;</li>
      <li>оценочная деятельность;</li>
      <li>аудиторская деятельность;</li>
      <li>бухгалтерское обслуживание.</li>
    </ul>
   
    <p>Высокое качество исполнения услуг клиентов обеспечивается как высоким уровнем квалификации юристов АЛЬБА ГРУПП, так и наличием устойчивых профессиональных связей в различных организациях и учреждениях Сибирского региона.</p>

    <a href='#' id="hide_content">Юристы офиса</a>
</div>
            <div id='show_list'>
              <%= render :partial=>'alba_lawyers/office_ru', :locals => {:office_id => "4"} %>
            </div>
