    <div id='inner_content'>
      <!--<div id='ins'>Карта-схема проезда</div>-->
      <div id='innss'>  
         <p><b>Юридическая компания АЛЬБА ГРУПП</b> в Северо-Западном региональном офисе собрала юристов, практикующих в г. Санкт-Петербург, Ленинградской, Калининградской, Новгородской областях и иных регионах Северо-Западного федерального округа РФ.</p>
         <p>Юристы СЗРО выполняют весь спектр услуг, относящихся к практике АЛЬБА ГРУПП</p>
        <ul class='inner_menu'>
          <%= render :partial=>'alba/menu_practice_rus' %>
        </ul>

       <p> Юридическая компания АЛЬБА ГРУПП сотрудничает на постоянной основе с известными в Северо-западном регионе адвокатами, имеющими длительный опыт представления интересов клиентов в судах общей юрисдикции и арбитражных судах различных инстанций.</p>

        <p>Высокое качество исполнения услуг клиентов обеспечивается как высоким уровнем квалификации специалистов юридической компании АЛЬБА ГРУПП, так и наличием устойчивых профессиональных связей в соответствующих организациях и учреждениях г. Санкт-Петербург и иных регионов Северо-Западного федерального округа РФ. </p>

        <a href='#' id="hide_content">Юристы офиса</a>
      </div>
      <div id='show_list'>
        <%= render :partial=>'alba_lawyers/office_ru', :locals => {:office_id => "2"} %>
      </div>
    </div>

  </div>