    <div id='inner_content'>
   <!-- <div id='ins'>Юридическая компания Альба-Групп Карта-схема проезда</div> -->
  <div id='innss'>  
    <p><strong>Юридическая компания АЛЬБА ГРУПП</strong> в Уральском региональном офисе объединяет  практикующих юристов, осуществляющих свою профессиональную деятельность в г. Екатеринбург, г. Челябинск, в Свердловской и Челябинской областях.</p>

      <p>Юристы Уральского регионального офиса обладают высокой квалификацией, полученной в период работы в крупнейших компаниях Уральского региона, а также имеют опыт ведения крупных инвестиционных проектов в регионе в области приватизации имущественных комплексов и в области недропользования.</p>

      <p>Юристы УРО выполняют весь спектр услуг, относящихся к практике юридической компании АЛЬБА ГРУПП</p>
      <ul class='inner_menu'>
        <%= render :partial=>'alba/menu_practice_rus' %>
      </ul>

      <p>Консультантами Уральского регионального офиса являются авторитетные в Уральском регионе адвокаты, имеющие опыт ведения дел в судах общей юрисдикции и арбитражных судах.</p>

      <p>Высокое качество исполнения услуг клиентов обеспечивается как высоким уровнем квалификации юристов АЛЬБА ГРУПП, так и наличием устойчивых профессиональных связей непосредственно в соответствующих организациях и учреждениях Уральского региона. </p>

      <a href='#' id="hide_content">Юристы офиса</a>
   </div>


            <div id='show_list'>
              <%= render :partial=>'alba_lawyers/office_ru', :locals => {:office_id => "3"} %>
            </div>


    </div>