    <div id='inner_content'>
         <!-- <div id='ins'>Карта-схема проезда</div> -->
    <div id='innss'>
    <p><strong>Legal company ALBA GROUP</strong> at the Siberian regional office has collected the lawyers who are carrying out their professional activity in Siberian region.</p>

    <p>Our lawyers practise in Altay and Krasnoyarsk territories, Novosibirsk oblast, Tomsk oblast, Kemerovo oblast, the Republic of Khakassia and other regions of the Siberian federal district of the Russian Federation.</p>

    <p>Experts of the Siberian regional office have experience of support of the large investment projects connected with industrial construction, and with resource development in different regions of the Siberian federal district of the Russian Federation.</p>

    <p>Lawyers of the Siberian regional office provide a comprehensive range of services concerning the ALBA GROUP practice:</p>

      <ul class='inner_menu'>
        <%= render :partial=>'alba/menu_practice_eng' %>
      </ul>

    <p>Besides, lawyers of the Siberian regional office carry out the following services, actual for Siberian region:</p>
    
    <ul>
      <li><b>Search of the operating mining   enterprises with a view of acquisition</b></li>
          <ul>
            <li>complex search of the operating mining enterprises according to the parameters specified by clients;</li>
            <li>due diligence of the mining enterprises;</li>
            <li>complex support of transactions on sale/acquisition of the mining enterprises;</li>
            <li>representation of interests of clients in state agencies and institutions on the issues connected with sale/acquisition of the mining enterprises;</li>
            <li>defend of clients’ interests in disputable situations with counterparts / state / municipal authorities;</li>
            <li>representation of clients’ interests in state authorities and judicial bodies.</li>
          </ul>
        <br />
        <li><b>Search of mineral deposits with a view of acquisition of licence on subsoil use</b></li>
          <ul>
            <li>complex search of mineral deposits for the purpose of subsoil use licence acquisition;</li>
            <li>complex support of clients at composition of package of documents for auction/ competition on granting of subsoil use right;</li>
            <li>legal support in obtaining of approvals / permissions / expert examinations at preparation of package of documents for auction/ competition;</li>
            <li>search of the counterparties necessary for formation of package of documents;</li>
            <li>settlement of land issues;</li>
            <li>representation of clients’ interests in state authorities and judicial bodies.</li>
          </ul>
        </ul>

     <p>Legal company ALBA GROUP on a regular basis cooperates with the well-known lawyers representing the clients’ interests in law enforcement bodies and courts of Siberian region.</p>
    <p> ALBA GROUP constant partners are organisations dealing with support of various aspects of commercial activity of the companies in Siberian region:</p>

    <ul>
      <li>tax consultation;</li>
      <li>valuation activity;</li>
      <li>auditing activity;</li>
      <li>Services for the accounting purposes.</li>
    </ul>
   
    <p>High quality of performance of clients’ services is provided due to skilled level of lawyers of legal company ALBA GROUP and to stable professional contacts in the corresponding organisations and establishments of the Siberian region.</p>

    <a href='#' id="hide_content">Lawyers of the Siberian regional office</a>
</div>
            <div id='show_list'>
              <%= render :partial=>'alba_lawyers/office_en', :locals => {:office_id => "4"} %>
            </div>
