#wrapper_index {
        margin-left: 25%;
        width: 750px;
      min-height: 600px;
/*  border: solid 1px  #ee9310; */
}


.right_index_menu {
/*   background-color: #f7ce92; */
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 150px;
float: right;
    margin-right: 30px;
}

.right_index_menu li {
    margin: 10px 0px 20px 10px;  
    padding: 5px 5px 5px 5px;
  border: solid 1px  #ee9310;
  background-color: #f7ce92;
}

.right_index_menu li.menu_active {
    background-color: #500000;
}

.right_index_menu li.menu_active a{
    color: #f7ce92;
  text-decoration: none;
}
.right_index_menu li.menu_active a:hover{
    color: #f7ce92;
  text-decoration: none;
}

#show {
  margin-top: 0px;
    border: solid 1px  #ee9310; 
}

#regions {
        float: left;
        margin-top: 20px;
    border: solid 1px #500;

}
#activities {
float: right;
    width: 200px;
     border: solid 1px #000; 
}